@mixin flex_center ($display, $jcc, $aic) {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow( $h: 10px , $v: 10px , $b: 0px , $s: 0px , $c: #000000 ) {
    -webkit-box-shadow: $h $v $b $s $c;
    -moz-box-shadow: $h $v $b $s $c;
    box-shadow: $h $v $b $s $c;
}

// usage div {
//     @include box-shadow(8px, 8px);
//     }

@mixin ghost-button($font, $font-size, $font-color, $border-size, $border-color, $padding, $transition-speed, $hover-color) {
    display:inline-block;
    text-decoration:none;
    text-transform:uppercase;
    font-family: $font;
    font-size: $font-size;
    color:$font-color;
    border:$border-size solid $border-color;
    padding:$padding;
    -webkit-transition: color $transition-speed, background $transition-speed;
    transition: color $transition-speed, background $transition-speed;
    &:hover
    {
    background:$border-color;
    color:$hover-color;
    }
 }

//usage  div {
//     @include ghost-button(“Trebuchet”, 12px, #ffffff, 5px, #34dec6, 4px, 300ms, #000000 );
//     }

*{
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$color-dark: #333344;
$sky: ;

html, body
{
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
	font-family: 'Comfortaa', cursive;
}

#container
{
	width: 100%;
	height: 100%;
	
	#score
	{
		position: absolute;
		top: 20px;
		width: 100%;
		text-align: center;
		font-size: 10vh;
		transition: transform 0.5s ease;
		color: $color-dark;
		transform: translateY(-200px) scale(1);
	}

	#game
	{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	.game-over
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 85%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		*
		{
			transition: opacity 0.5s ease, transform 0.5s ease;
			opacity: 0;
			transform: translateY(-50px);
			color: $color-dark;
		}
		
		h2
		{
			margin: 0;
			padding: 0;
			font-size: 40px;
		}
	}
	
	.game-ready
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		
		#start-button
		{
			transition: opacity 0.5s ease, transform 0.5s ease;
			opacity: 0;
			transform: translatey(-50px);
			
			border: 3px solid $color-dark;
			padding: 10px 20px;
			background-color: transparent;
			color: $color-dark;
			font-size: 30px;
		}
	}
	
	#instructions
	{
		position: absolute;
		width: 100%;
		top: 16vh;
		left: 0;
		text-align: center;
		transition: opacity 0.5s ease, transform 0.5s ease;
		
		opacity: 0;
		
		&.hide
		{
			opacity: 0 !important;
		}
	}
	
	&.playing, &.resetting
	{
		#score
		{
			transform: translateY(0px) scale(1);
		}
	}
	
	&.playing
	{
		#instructions
		{
			opacity: 1;
		}
	}
	
	&.ready
	{
		
		
		.game-ready
		{
			#start-button
			{
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	
	&.ended
	{
		#score
		{
			transform: translateY(6vh) scale(1.5);
		}
		
		.game-over
		{
			*
			{
				opacity: 1;
				transform: translateY(0);
			}
			
			p
			{
				transition-delay: 0.3s;
			}
		}
	}
}

// body{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 80vh;
//     margin: 0;
// }

.game-container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    border: 2px 2px black;    
    background: linear-gradient(
    rgba(13, 191, 223, 0.9),
    rgba(13, 191, 223, 0.5),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );   
}

.score, .score-title{
    position: fixed;
    font-size: 1em;
    top: 1em;
    right: 1em;
}

.score{
    top: 2em;
}

.start-text{
    position: absolute;
    font-size: 2em;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;
}

.background{
    position: absolute;
    width: 300%;    
    bottom: 0;
    --left: 0;
    left: calc(var(--left) * 1%);
}

.clouds {
    bottom: 50%;
}

.shrubs {
    bottom: 45%;
}

.grass {
    bottom: 46.25%;    
}

.character{
    position: absolute;
    left: 5%;
    height: 30%;
    bottom: 30%;
    --bottom: 30;
    bottom: calc(var(--bottom * 1%));
}

.jump{
    position: absolute;
    left: 5%;
    height: 30%;
    bottom: 40%;
    --bottom: 40;
    bottom: calc(var(--bottom * 1%));        
}

.move{
    position: absolute;
    left: 5%;
    height: 30%;
    bottom: 30%;
    --bottom: 30;
    bottom: calc(var(--bottom * 1%));
}

.obstacle, .crate{
    position: absolute;    
    height: 10%;
    left: calc(var(--left) * 1%);
    bottom: 30%;
    bottom: calc(var(--left * 1%));
    padding: 0;
}

.gameover{
    position: fixed;
    left: 40%;
    right: 50%;
    height: 20%;
    bottom: 65%;
}

.restart{
    position: fixed;
    top: 6.5vh;
    right: 1em;
}

.enemy{
    position: absolute;
    height: 30%;
    bottom: 19;
    left: calc(var(--left) * 1%);
    bottom: calc(var(--bottom * 1%));
}

@keyframes move {
    0% {src: "./assets/char_model/move/char_walk_01";}
    20% {src: "./assets/char_model/move/char_walk_02";}
    40% {src: "./assets/char_model/move/char_walk_03";}
    60% {src: "./assets/char_model/move/char_walk_04";}
    80% {src: "./asssets/char_model/move/char_walk_03";}
    100% {src: "./assets/char_model/move/char_walk_02";}    
}

@keyframes jump {
    0% {src: "./asssets/char_model/jump/char_jump_01";}
    20% {src: "./asssets/char_model/jump/char_jump_02";}
    40% {src: "./asssets/char_model/jump/char_jump_03";}
    60% {src: "./asssets/char_model/jump/char_jump_04";}
    80% {src: "./asssets/char_model/jump/char_jump_03";}
    100% {src: "./asssets/char_model/jump/char_jump_02";}    
}