*{
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
}

.game-container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    border: 2px 2px black;    
}

.score, .score-title{
    position: absolute;
    font-size: 1em;
    top: 1em;
    right: 1em;
}

.score{
    top: 2em;
}

.start-text{
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;
}

.background{
    position: absolute;
    width: 300%;    
    bottom: 0;
    --left: 0;
    left: calc(var(--left) * 1%);
}

.character{
    position: absolute;
    left: 5%;
    height: 30%;
    bottom: 19%;
    --bottom: 19;
    bottom: calc(var(--bottom * 1%));
}

.jump{
    position: absolute;
    left: 5%;
    height: 30%;
    bottom: 19%;
    --bottom: 19;
    bottom: calc(var(--bottom * 1%));
}

.move{
    position: absolute;
    left: 5%;
    height: 30%;
    bottom: 19%;
    --bottom: 19;
    bottom: calc(var(--bottom * 1%));
}

.obstacle, .crate{
    position: absolute;    
    height: 30%;
    left: calc(var(--left) * 1%);
    bottom: 19;
    bottom: calc(var(--left * 1%));
}

.enemy{
    position: absolute;
    height: 30%;
    bottom: 19;
    left: calc(var(--left) * 1%);
    bottom: calc(var(--bottom * 1%));
}

@keyframes move {
    0% {src: "./assets/char_model/move/char_walk_01";}
    20% {src: "./assets/char_model/move/char_walk_02";}
    40% {src: "./assets/char_model/move/char_walk_03";}
    60% {src: "./assets/char_model/move/char_walk_04";}
    80% {src: "./asssets/char_model/move/char_walk_03";}
    100% {src: "./assets/char_model/move/char_walk_02";}    
}

@keyframes jump {
    0% {src: "./asssets/char_model/jump/char_jump_01";}
    20% {src: "./asssets/char_model/jump/char_jump_02";}
    40% {src: "./asssets/char_model/jump/char_jump_03";}
    60% {src: "./asssets/char_model/jump/char_jump_04";}
    80% {src: "./asssets/char_model/jump/char_jump_03";}
    100% {src: "./asssets/char_model/jump/char_jump_02";}    
}